extends layout

block content
  h1= title
  p #{content}
  form(method="post" action="/Chat")
    input(type="text" name="userid")
    input(type="text" name="messageText")
    input(type="submit" name="送信")